.txt{font-size:16px;color:brown;border:1px solid orange;font-family:Bordway BT;font-weight: bold;}
.middle{text-align:center}
.title{text-shadow:5px 5px 5px gray;text-align:center}
#double{border: 3px black double;background-color: aqua;block-size:16px;;text-align: center;}
body{font-size: 12px;}
h4{font-size:1.5em;}